* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background-color: #1a1a1a;
	color: #fafafa;
	overflow-x: hidden;
}

#particlesHome {
	position: absolute;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#particlesBody {
	position: absolute;
	width: 100%;
	height: 300vh;
	margin: 0;
	padding: 0;
}

#home,
#about,
#projects,
#contact {
	height: 100vh;
	padding: 5rem 10.7rem 0;
}

/* Navbar */
.navbar {
	background-color: #1a1a1a00;
	transition: all 0.75s;
}

.navbar-nav {
	margin: auto;
}

.navlink {
	font-weight: 700;
	margin: 0 0.7rem;
	letter-spacing: 1px;
	transition: all 0.25s;
	border-top: solid 5px #1a1a1a;
	animation: fadeInDown;
	animation-duration: 0.8s;
}

.navlink:hover {
	border-top: solid 5px #ff4d5a;
	transform: translateY(3px);
}

/* Titles */
.section-title {
	font-weight: 700;
	font-size: 3rem;
	letter-spacing: 3px;
	margin: 0;
	position: relative;
	text-shadow: 5px 5px #ff4d5a;
	transition: all 0.25s;
}

.section-title:hover {
	text-shadow: 3px 4px #ff4d5a;
	transform: translate(3px);
}

/* Header */
.header {
	padding-top: 20%;
	font-weight: 300;
	text-align: center;
	font-size: 3.5rem;
}

.header span {
	color: #ff4d5a;
	font-weight: 500;
}

.header-button {
	background-color: inherit;
	color: #7a7a7a50;
	border: none;
	position: relative;
	top: 0;
	margin-top: 12rem;
	transition: all 0.25s;
	animation: fadeInUp;
	animation-duration: 1.5s;
}
.header-button a {
	text-decoration: none;
	color: inherit;
}

.header-button:hover {
	color: #ff4d5a;
	transform: scale(0.95);
	top: 15px;
}

/* About */
#about {
	background-color: #1a1a1a;
	text-align: left;
}

/* About - Info */
.about-info {
	background-color: inherit;
	padding: 2%;
	position: relative;
}

.about-info img {
	width: 45%;
	min-width: 200px;
	box-shadow: 0 1px 6px 2px #0a0a0a;
}

.about-text-container {
	padding: 5% 8%;
}

.about-text {
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: 0.3px;
	line-height: 1.8rem;
}

/* About - Skills */
.about-skills-container {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 11%;
}

.figure {
	width: 158px;
	height: 128px;
	display: block;
	text-align: center;
	margin: 1rem 0.7rem;
	padding: 1.1rem 0;
	transition: all 0.4s, opacity 1.2s;
	position: relative;
	background-color: #1a1a1a;
	border: solid 1px #0a0a0a;
	border-radius: 50px;
	box-shadow: 0 4px 5px 2px #0a0a0a;
	opacity: 0;
}

.figure:hover {
	box-shadow: 0 1px 1px 1px #0a0a0a;
	border-color: #1a1a1a;
	transform: translateY(4%);
}

.figure-caption {
	font-weight: 600;
	color: #fafafa;
	letter-spacing: 1.5px;
	margin-top: 4px;
}

.figure-fade-in {
	opacity: 1;
}

.about-icon {
	width: 65px;
}

/* Projects */
#projects {
	padding: 5rem 4.8rem 0;
}

.projects-container {
	position: relative;
}

.projects-area {
	padding-top: 3%;
}

.projects-card {
	background-color: #1a1a1a;
	margin: 1rem;
	min-width: 440px;
	min-height: 386px;
	max-width: 630px;
	max-height: 486px;
}

.card-subtitle {
	display: inline-block;
	margin: 0.2rem 0.4rem;
}

.fa-circle {
	margin-right: 3px;
}

/* Contact */
.contact-container {
	height: 100%;
}

.input-area {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	position: relative;
	padding: 4% 35%;
}

.input-area-heading {
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: 0.4px;
	text-align: center;
	padding-bottom: 2rem;
}

.input-area input,
.input-area textarea {
	color: #fafafa;
	background-color: #2a2a2a;
	display: block;
	margin: 2px;
	padding: 2%;
	outline: none;
	border: none;
	resize: none;
	line-height: 1.5rem;
	font-size: 1.1rem;
	font-weight: 500;
}

.input-area input::placeholder,
.input-area textarea::placeholder {
	color: #8a8a8a;
	line-height: 1.5rem;
}

.input-area input:-webkit-autofill {
	box-shadow: 0 0 0 30px #2a2a2a inset;
	-webkit-box-shadow: 0 0 0 30px #2a2a2a inset;
	-webkit-text-fill-color: #fafafa;
}

.submit-contact {
	align-self: flex-end;
	background-color: #1a1a1a;
	color: #fafafa9c;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 2.5rem;
	letter-spacing: 1px;
	margin-top: 0.5rem;
	padding: 0;
	width: 5.5rem;
	border: none;
	border-bottom: solid 4px #ff4d5a;
	transition: all 0.25s;
}

.submit-contact:hover {
	transform: translateY(10%);
	color: #fafafa;
}

/* Footer */
.footer {
	margin-top: 2rem;
	text-align: center;
	position: relative;
}

.footer-button {
	background-color: inherit;
	color: #fafafa;
	padding: 0.5rem 1rem 0.3rem;
	border: none;
	transition: all 0.25s;
	position: relative;
	bottom: 2.5rem;
}

.footer-button:hover {
	background-color: inherit;
	color: #ff4d5a;
	animation: shakeY;
	animation-duration: 6s;
}

.footer-button a {
	text-decoration: none;
	color: inherit;
}

.footer-links {
	margin-bottom: 1.1rem;
}

.footer-icon {
	margin: auto 0.5rem;
	width: 45px;
	transition: all 200ms;
}

.footer-icon:hover {
	transform: translateY(-8px);
}

.footer-text {
	font-weight: 500;
	font-size: 0.75em;
}
