* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #1a1a1a;
	color: #fafafa;
	overflow-x: hidden;
}

#particlesHome {
	position: absolute;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#home,
#about,
#projects,
#contact {
	height: 100vh;
	padding: 6rem 9% 0;
}

/* Navbar */
.navbar {
	background-color: #1a1a1a00;
	transition: all 0.75s;
}

.navbar-nav {
	margin: auto;
}

.navlink {
	font-weight: 700;
	margin: 0 0.7rem;
	letter-spacing: 2px;
	transition: all 0.25s;
	animation: fadeInDown;
	animation-duration: 0.8s;
	position: relative;
}

.navlink div::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #ff4d5a;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}

.navlink div:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

/* Titles */
.section-title {
	font-weight: 700;
	font-size: 4rem;
	letter-spacing: 3px;
	margin: 0;
	position: relative;
	text-shadow: 3px 4px #ff4d5a;
	transition: all 0.25s;
}

/* Header */
#home {
	padding: 6rem 0 0;
}

.header {
	padding-top: 18rem;
	font-weight: 300;
	text-align: center;
	font-size: 3.5rem;
	cursor: default;
}

.header span {
	color: #ff4d5a;
	font-weight: 500;
}

.header-button {
	background-color: inherit;
	color: #7a7a7a50;
	border: none;
	position: relative;
	top: 0;
	margin-top: 12rem;
	transition: all 0.25s;
	animation: fadeInUp;
	animation-duration: 1.5s;
}
.header-button a {
	text-decoration: none;
	color: inherit;
}

.header-button:hover {
	color: #ff4d5a;
	transform: scale(0.95);
	top: 15px;
}

/* About */
#about {
	background-color: #1a1a1a;
	text-align: left;
}

.about-icons,
.about-info {
	background-color: inherit;
	position: relative;
}

/* About - Profile */

.about-profile {
	width: 100%;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-top: 3rem;
}

.about-thumbnail {
	width: 55%;
	border-radius: 10px;
	box-shadow: 0 20px 30px -10px #0a0a0a;
}

.about-header {
	width: 75%;
	font-size: 1.2rem;
	letter-spacing: 0.4px;
	line-height: 1.8rem;
	margin-top: 3rem;
}

/* About - Info */

.info-tabs {
	padding-top: 4rem;
}

.info-tab-list {
	margin: 0 0 2rem;
	padding: 0;
}

.info-tab {
	display: inline-block;
	margin-right: 3rem;
	padding: 6px 0;
	position: relative;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 2rem;
	letter-spacing: 1px;
	list-style: none;
	cursor: pointer;
}

.info-tab-active {
	color: #ff4d5a;
}

.info-tab:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 30px;
	height: 2px;
	background-color: #fafafa;
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.info-tab.info-tab-active:before {
	width: 100%;
	background-color: #ff4d5a;
}

.info-panel {
	display: none;
	animation: fadeInUp;
	animation-duration: 0.8s;
}

.info-panel-active {
	display: block;
}

.info-panel ul {
	padding: 0;
}

/* Skills */
.icons-text {
	margin: 3rem 0 0 1.6rem;
	padding: 0.7rem 11.5% 1rem 1rem;
	font-weight: 200;
	font-size: 1.2rem;
	letter-spacing: 1px;
	border-left: solid 3px #ff4d5a;
}

.icons-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 270px;
	width: 88%;
	margin-top: 3rem;
}

.icons-container .row {
	width: 100%;
}

.figure {
	width: 16%;
	height: 90%;
	display: block;
	margin: 0;
	text-align: center;
	padding: 1.1rem 0;
	transition: all 0.4s, opacity 1.2s;
	position: relative;
	opacity: 0;
}

.figure::after {
	content: "";
	position: absolute;
	bottom: 2.1rem;
	left: 30%;
	width: 40%;
	height: 2px;
	transition: all 0.2s;
	z-index: 2;
	background-color: #fafafa;
}

.figure:hover::after {
	bottom: 10px;
	background-color: #fafafa;
}

.figure:hover .figure-caption {
	margin-top: 8px;
}

.figure-caption {
	color: #fafafa;
	font-weight: 600;
	letter-spacing: 1.5px;
	margin-top: 30px;
	transition: all 0.2s;
}

.figure-fade-in {
	opacity: 1;
}

.skills-icon {
	width: 65px;
}

/* Education */
.panel-education-item {
	list-style: none;
	padding: 0.5rem 0 0 1rem;
}

.panel-education-item span {
	font-size: 1.1rem;
	color: #6a6a6a;
}

.fa-graduation-cap {
	color: #ff4d5a;
	margin-right: 1rem;
	position: relative;
	bottom: -5px;
}

.panel-education-item div {
	margin: 1rem 0 0 1.2rem;
	padding: 0 6.5rem 0.7rem 2.7rem;
	font-size: 1.2rem;
	letter-spacing: 1px;
	border-left: solid 3px #ff4d5a;
}

.panel-education-item p {
	margin: 0;
	padding-top: 0.3rem;
	font-size: 1.1rem;
	font-weight: 200;
}

.background-info {
	padding: 2rem 9rem 0 0;
	font-weight: 200;
	letter-spacing: 1.5px;
	font-size: 1.2rem;
}

.background-info p:first-child {
	padding-bottom: 1.5rem;
}

/* Projects */

/* Projects Carousel */
.carousel {
	height: 100%;
	width: 100%;
	padding-top: 1.5rem;
}

.carousel-item {
	height: 100%;
}

.carousel-image {
	display: block;
	width: 100%;
	max-height: 612px;
	border: solid 1px #0a0a0a71;
	border-radius: 30px;
	box-shadow: 0 40px 25px -10px #0a0a0a9f;
	transition: all 0.25s;
}

.carousel-image:hover {
	transform: scale(0.96);
}

/* carousel caption */
.carousel-caption {
	position: static;
	padding-bottom: 1rem;
}

.carousel-title {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	position: relative;
	top: -10px;
}

.carousel-description {
	padding: 0 6%;
	margin-bottom: 0;
	font-size: 1.1rem;
}

/* carousel links */
.carousel-link {
	background: none;
	color: #fafafa9c;
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 2rem;
	letter-spacing: 1px;
	padding: 0;
	border: none;
	text-transform: uppercase;
	border-bottom: solid 4px #ff4d5a;
	transition: all 0.25s;
}

.carousel-link:hover {
	transform: translateY(-4px);
	color: #fafafa;
}

.carousel-link a {
	color: inherit;
	text-decoration: none;
}

/* carousel prev and next buttons */
a.carousel-control-next {
	right: -5rem;
}

a.carousel-control-prev {
	left: -5rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	height: 3rem;
	width: 3rem;
}

.carousel-control-next-icon {
	position: absolute;
	left: 4rem;
}

.carousel-control-prev-icon {
	position: absolute;
	right: 4rem;
}

/* carousel indicators */
.carousel-indicators {
	display: none;
}

/* Contact */
#contact {
	padding: 6rem 0 0;
}

.contact-container {
	height: 100%;
}

.input-area {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	position: relative;
	padding: 3rem 34rem;
	max-width: 1572px;
	min-width: 1420px;
}

.input-area-heading {
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: 0.4px;
	text-align: center;
	padding: 0 1rem 2rem;
}

.input-area input,
.input-area textarea {
	color: #fafafa;
	background-color: #2a2a2a;
	display: block;
	margin: 2px;
	padding: 0.6rem;
	outline: none;
	border: none;
	resize: none;
	line-height: 1.5rem;
	font-size: 1.1rem;
	font-weight: 500;
}

.input-area input::placeholder,
.input-area textarea::placeholder {
	color: #8a8a8a;
	line-height: 1.5rem;
}

.input-area input:-webkit-autofill {
	box-shadow: 0 0 0 30px #2a2a2a inset;
	-webkit-box-shadow: 0 0 0 30px #2a2a2a inset;
	-webkit-text-fill-color: #fafafa;
}

.submit-contact {
	align-self: flex-end;
	background-color: #1a1a1a;
	color: #fafafa9c;
	font-weight: 500;
	font-size: 1.1rem;
	text-transform: uppercase;
	line-height: 2rem;
	letter-spacing: 1px;
	margin: 1rem 0.5rem 0 0;
	padding: 0;
	border: none;
	border-bottom: solid 4px #ff4d5a;
	transition: all 0.25s;
}

.submit-contact:hover {
	transform: translateY(5px);
	color: #fafafa;
}

/* Footer */
.footer {
	margin-top: 2rem;
	text-align: center;
	position: relative;
}

.footer-button {
	background-color: inherit;
	color: #fafafa;
	padding: 0.5rem 1rem 0.3rem;
	border: none;
	transition: all 0.25s;
	position: relative;
	bottom: 2.5rem;
}

.footer-button:hover {
	background-color: inherit;
	color: #ff4d5a;
	animation: shakeY;
	animation-duration: 6s;
}

.footer-button a {
	text-decoration: none;
	color: inherit;
}

.footer-links {
	margin-bottom: 1.1rem;
}

.footer-icon {
	margin: auto 0.5rem;
	width: 45px;
	transition: all 200ms;
}

.footer-icon:hover {
	transform: translateY(-8px);
}

.footer-text {
	font-weight: 500;
	font-size: 0.75em;
}

/* Media Queries */
@media (max-width: 1850px) {
	#about {
		padding: 6rem 4% 0;
	}
}

@media (max-width: 1400px) {
	#about {
		padding: 6rem 0 0;
	}

	#projects {
		padding: 6rem 9% 0;
	}

	.projects-title {
		padding-right: 12px;
	}

	.projects-area {
		width: 85%;
	}
}

@media (max-width: 1200px) {
	.about-left {
		width: 100%;
	}
	.about-profile {
		flex-direction: row;
		justify-content: space-between;
	}
	.about-thumbnail {
		width: 20%;
	}
	.icons-container {
		display: none;
	}
	.about-info {
		width: 100%;
	}
	.background-info {
		padding-right: 0;
	}

	.info-tab-list {
		text-align: center;
	}

	#about {
		padding: 6rem 9% 0;
	}

	#projects {
		padding: 6rem 7% 0;
	}
}

@media (max-width: 1000px) {
	#projects {
		padding: 6rem 5% 0;
	}
}

@media (max-width: 925px) {
	.info-tab {
		margin-right: 1.5rem;
	}
}
